---
http_interactions:
- request:
    method: get
    uri: https://api.edamam.com/search?app_id=84291d48&app_key=b1738c8bac9999fa0e6dd525a28e9ded&from=2&q=&to=12
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "q" : "",
          "from" : 2,
          "to" : 12,
          "params" : {
            "sane" : [ ],
            "to" : [ "12" ],
            "q" : [ "" ],
            "app_id" : [ "84291d48" ],
            "app_key" : [ "b1738c8bac9999fa0e6dd525a28e9ded" ],
            "from" : [ "2" ]
          },
          "more" : false,
          "count" : 0,
          "hits" : [ ]
        }
  recorded_at: Fri, 04 Nov 2016 20:30:33 GMT
recorded_with: VCR 3.0.3
